<%- include('header') -%>

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <h1>管理后台</h1>
                <p>管理文章，管理分类，管理标签</p>
                <p>各种管理的地方</code>.</p>
                <a href="#menu-toggle" class="btn btn-secondary" id="menu-toggle">隐藏或显示侧边栏</a>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

<%- include('footer', {customJsPath: '/js/admin/index.js'}) -%>
