<%- include('../header') -%>

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <h1>用户管理</h1>
                <div class="form-group form-inline">
                    <button type="button" class="btn btn-default addUser"><i class="fa fa-plus" aria-hidden="true"></i></button>
                    <button type="button" class="btn btn-default editUser"><i class="fa fa-edit" aria-hidden="true"></i></button>
                    <button type="button" class="btn btn-default deleteUser"><i class="fa fa-trash-alt" aria-hidden="true"></i></button>

                </div>
                <table id="userAdminTable"></table>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->


<%- include('../footer', {customJsPath: '/js/admin/user.js'}) -%>
